/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");


:root {
  /* Colors */
  --white-color: #ffffff;
  --dark-color: #252525;
  --primary-color: #3b141c;
  --secondary-color: #f3961c;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #ccc;

  /* Font Sizes */
  --font-size-s: 0.9rem;
  --font-size-m: 1rem;
  --font-size-l: 1.12rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;

  /*Font Weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* Border Radius */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /*Site max width */
  --site-max-width: 1300px;
}

/* full screen background */
body, html {
  height: 100%;
  margin: 0;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.login-title {
  text-align: center;
  color: var(--white-color);
  margin-bottom: 20px;
  font-family: "Miniver", cursive;
  font-size: var(--font-size-xxl);
}

/* form box */
.login-box {
  background-color: var(--secondary-color);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  width: 350px; /* boleh adjust */
  max-width: 90%;
}

label {
  font-family: 'Poppins', sans-serif; 
  font-size: var(--font-size-m);      
  font-weight: var(--font-weight-medium);
  color: var(--dark-color);          
}

/* avatar center */
.imgcontainer {
  text-align: center;
  margin: 0 0 20px 0;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}

/* input + button same je macam kau ada */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 14px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

button:hover {
  opacity: 0.9;
  background-color: var(--white-color);
  color: var(--primary-color);
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  margin-top: 10px;
}

.forgot-container {
  text-align: right;
  padding-top: 10px;
}

.psw a {
  color: var(--dark-color);
  text-decoration: none;
}

.psw a:hover {
  text-decoration: underline;
  color: var(--white-color); 
}